*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.calculator-container {
  margin: 100px 200px 0 200px;
}

.title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  justify-content: space-between;
}

.input-container {
  display: grid;
  justify-items: center;
  grid-template-areas:
    "a"
    "b";
}

label {
  grid-area: a;
  margin-bottom: 10px;
}

input {
  grid-area: b;
  width: 150px;
  height: 40px;
}

input[type="number"] {
  /* font-size: 16px; */
  padding: 5px 8px;     
}

#solve-button {
  width: 150px;
  height: 70px;  
  font-size: 16px;
}