*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.calculator-container {
  margin: 100px 200px 0 200px;
}

.title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  justify-content: space-between;
}

.input-container {
  display: grid;
  justify-items: center;
  grid-template-areas:
    "a"
    "b";
}

label {
  grid-area: a;
  margin-bottom: 10px;
}

input {
  grid-area: b;
  width: 150px;
  height: 40px;
}

input[type="number"] {
  /* font-size: 16px; */
  padding: 5px 8px;     
}

#solve-button {
  width: 150px;
  height: 70px;  
  font-size: 16px;
}

.output-container {
  width: 100%;
  margin-top: 30px;
}

#equation {
  text-align: center;
  margin: 40px 0;
  width: 100%;
  font-weight: 500;
}

.results-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  gap: 40px;
  margin-bottom: 50px;
}

#results-table {
    border-collapse: collapse;
}

#results-table td,
#results-table th {
  border: 1px solid #ccc;
  padding: 8px 14px;
  text-align: center;
}

#results-table th {
  background-color: #f5f5f5;
}
